.DS_Store
*/web-app/WEB-INF
*.iml
*.log
.groovy
.idea
plugin.xml
*/.classpath
*/.settings
*/.project
/nbproject/private/
devDb.*
cobertura.ser
target
.classpath
.project
bootstrap-file-upload-grailsPlugins.iml
bootstrap-file-upload.iws
